@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#main_home
{
	animation: zoomIn 1s forwards;
	flex-direction: column;
	display: flex;
  justify-content: center;
  align-items: center;
}

#main_home h1
{
	font-size: 60px;
}

#main_home h2
{
	font-size: 45px;
}

#main_home button
{
	font-family: 'Bebas Neue', sans-serif;
	width: 20%;
	font-size: 40px;
	border-radius: 15px;
	background: white;
	transition: .25s ease;
}


#main_home button:hover
{
	scale: 1.2;
	cursor: pointer;
}