html
{
	overflow: hidden;
}

#main_home h1
{
	width: 100%;
	font-size: 40px;
	margin-left: 24%;
}

#main_home
{
	scale: 0.85;
	margin-top: 5px;
	flex-direction: column;
	padding: 2%;
}

#main_home a
{
	text-decoration: none;
	font-size: 30px;
	margin: 1%;
	margin-left: 34%;
	transition: .25s ease;
	color: black;
}

#main_home a:hover
{
	text-decoration: underline;
	color: #87CEEB;
}

#main_home
{
	transform: translateX(-450%);
}

#loading
{
	margin-left: 40%;
	margin-top: 10%;
	opacity: 1;
	transition: transform 1.2s ease-in-out;
}
