#main_home
{
	transform: translateX(-450%);
	flex-direction: column;
	display: flex;
  justify-content: center;
  align-items: center;
}

#main_home h1
{
	font-size: 40px;
}

#main_home
{
	scale: 0.85;
	margin-top: 5px;
	flex-direction: column;
}

#main_home a
{
	text-decoration: none;
	font-size: 50px;
	transition: .25s ease;
	color: black;
}

#main_home a:hover
{
	text-decoration: underline;
	color: #87CEEB;
}